


  <mat-toolbar>
      <div class="search-bar">Today's Forecast</div>
          <div class="form-component input--medium input--search">
              <i class="fas fa-search"></i>

            <mat-form-field>

              <input matInput placeholder="Enter city or zip" aria-label="City or Zip" [formControl]="search">
              <!-- <input type="text" placeholder="Search" />  -->
            
              <mat-error *ngIf="search.invalid">
                {{getErrorMessage()}}
              </mat-error>
            
            </mat-form-field>
            </div>
     
    </mat-toolbar>