/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
    height: 100%;
}



body {
    height: 100%;
    background: linear-gradient(to bottom, #d28c9c 0%, #765be8 100%)
    /* background-color: linear-gradient(to top, #D28C9C - #765BE8); */
}