/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
    height: 100%;
}

.mat-toolbar {
    height: 80px !important;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




body {
    height: 100%;
    background: linear-gradient(to bottom, #d28c9c 0%, #765be8 100%)
    /* background-color: linear-gradient(to top, #D28C9C - #765BE8); */
}

.search-bar {
    width: 20%;
    float:left;
}

.search-bar input[type=text] {
    float: right;
    right:0px;
    margin-bottom: 20px;
    margin-top:-16px;
    margin-right:30px;
    font-size:17px;
    }

   