/*
====================
Weather Card Styling
====================
*/

/* When the input field gets focus, change its width to 100% */


.city-country {
  font-size: 25px;
  color: white;
  padding: 15px;
}

.date, .temperature, .weather-status {
font-size: 20px;
color: white;
padding:-20px;
}

 
  
  /* .weather__card-dark {
    background: linear-gradient(to bottom, #711B86, #00057A);
    color: white;
  }

  .weather__card > *{
    align-self: center;
} */