

    <!-- <section class="weather__card" (click)="openDetails()" [ngClass]="{'weather__card-dark': darkMode}"> -->
  
     
    <div *ngIf="current" class="city-country">{{current?.city}}, {{current?.country}}
    <div class="date">{{current.date | date: 'fullDate'}}</div>
  <div img-icon>
    <img [src]='current.image' />
    <span class="temperature">{{current?.temperature | number:'1.0-0'}}&#8457;</span>
  </div>

  <div class="weather-status">
    {{current?.description}}
  </div>
</div>

<!-- </section> -->
